<ion-header>
  <ion-toolbar [style.--background]="data.backgroundColor">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ album.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" [fullscreen]="true" [appImageFade]="cover" [style.--custombg]="data.backgroundColor">

  <!-- Image of the album -->
  <div class="ion-text-center image-box" #cover>
    <img [src]="album.image">
  </div>

  <!-- Rest of the page content -->
  <div class="main">

    <!-- General information -->
    <ion-row>
      <ion-col size="12" class="album-info">
        <p>{{ album.artist }}</p>
        <span>Album {{ album.link }} · {{ album.released }}</span>
      </ion-col>
      <ion-col size="8" class="ion-text-left ion-no-padding">
        <ion-button fill="clear" class="ion-no-margin"
          href="https://www.youtube.com/watch?v=RFaarZkCUOo&feature=youtu.be">
          <ion-icon name="logo-youtube" size="large" color="danger" slot="icon-only"></ion-icon>
        </ion-button>


      </ion-col>
      <ion-col size="4" class="ion-text-right ion-no-padding">

        <div>
          <ion-icon name="play-circle" size="large" color="danger" slot="icon-only" (click)="getLink(album)"></ion-icon>
          <ion-icon name="pause-circle" size="large" color="danger" slot="icon-only" (click)="getLink(album)">
          </ion-icon>
          <ion-icon name="stop-circle" size="large" color="danger" slot="icon-only" (click)="getLink(album)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- List of tracks -->
    <ion-list>
      <ion-item *ngFor="let t of data.tracks" lines="none">
        <ion-label>{{ t.title }}
          <p>{{ album.artist  }}</p>
        </ion-label>

      </ion-item>
    </ion-list>
  </div>

</ion-content>