

<ion-content >
<ion-row class="ion-no-padding">
  <ion-col size="12" class="ion-text-center">
    <ion-button fill="clear" color="light" >Yago Langer 
      
    </ion-button>
  </ion-col>
  <ion-col size="12"  class="title">
 
    Olá, sejam bem vindos!
    Sou Yago Langer, compositor, nascido em 1998, em Teresópolis / RJ, e a mais de 10 anos morando em Mogi Mirim / SP. 
    Além de compositor, estou no estágio final do meu curso de licenciatura em química.
    Quero trazer uma experiência diferente para vocês com esse app.
    Pensei em uma forma de otimizar o tempo tanto de vocês, quanto o meu. Apenas baixando o app em seu celular já terá acesso à todas minhas composições, podendo sugerir alterações nas modas que ainda não finalizei e solicitando liberação das que se interessou. 
    Espero que gostem da experiência e me coloco sempre a disposição de vocês!! Bora pra cima 🚀
  </ion-col>
</ion-row>
<ion-row>
  <img src="\assets\images\albums\a.jpg">
</ion-row>
</ion-content>
