<ion-content>
  <ion-progress-bar value="0.25" buffer="0.35" color="primary"></ion-progress-bar>
  
  <ion-grid>
    <ion-row class="ion-no-padding">
      <!--  Section Title -->
      <ion-col size="9">
        <h2 class="section-header">Músicas...</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides [options]="opts">
          <ion-slide>
            <img src="/assets/images/albums/a.jpg" routerLink="musica01">
            <span class="title">RADAR</span>
           </ion-slide>
          <ion-slide *ngFor="let album of albums" (click)="openAlbum(album)">
            <ion-img [src]="album.image"></ion-img>
            <span class="title">{{ album.title }} 
            </span>
          </ion-slide>
          
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>