ion-item {
    --ion-item-background: transparent;
    color: #fff;

    p {
        color: #69f0ae;
    }
}

ion-list {
    --ion-background-color: var(--ion-color-dark);
}

ion-title, ion-content {
    font-family: 'Spotify';
}

.album-info {
    color: #fff;
    margin-left: 11px;
    p {
        font-weight: bold;
    }
}

.image-box {
    position: fixed;
    z-index: 0;
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 10%;
    color: #e4ece8;
}

ion-row {
    padding-top: 40vh;
}

ion-content {
    --background: linear-gradient(var(--custombg) 400px, var(--ion-color-dark) 400px);
}

.main {
    z-index: 100;
    background: linear-gradient(var(--custombg) 20%, var(--ion-color-dark) 70%);
}
